.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 400px;
}

.form-field{
    align-self: flex-start;
    display: flex;
    flex-direction: column;;
    gap: 5px;
    width: 100%;

}