.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-width: 400px;
}

.form-field{
    width: 100%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 5px;
}