/* --- Variables y Estilos Globales --- */
:root {
  --input-focus: #2d8cf0;
  --font-color: #fefefe;
  --font-color-sub: #7e7e7e;
  --bg-color: #111;
  --main-color: #fefefe;
}

body {
  font-family: sans-serif;
  margin: 2em;
  background: var(--bg-color);
}