.container {
    display: grid;
    width: 100%;
    height: 100%;
    padding: 10px 20px 20px 20px;
    grid-template-columns: 0.9fr 1.1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.2fr 0.8fr 1.4fr 0.6fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "sidebar money money activity activity"
        "sidebar money money activity activity"
        "sidebar top top courses courses"
        "sidebar top top courses courses"
        "footer footer footer footer footer";
}

.money {
    grid-area: money;
}

.activity {
    grid-area: activity;
}

.top {
    grid-area: top;
}

.courses {
    grid-area: courses;
}

.sidebar {
    grid-area: sidebar;
    
}

.sidebar-wrapper{
    flex-grow: 1;
}

.footer {
    grid-area: footer;
}